ASR_PROVIDER=openai
ASR_API_KEY=
TRANSLATE_PROVIDER=openai
TRANSLATE_API_KEY=
TTS_PROVIDER=elevenlabs
TTS_API_KEY=
DEFAULT_THAI_VOICE_MALE=th-male-1
DEFAULT_THAI_VOICE_FEMALE=th-female-1
WHISPER_MODEL=small
