ASR_PROVIDER=openai
ASR_API_KEY=
TRANSLATE_PROVIDER=openai
TRANSLATE_API_KEY=
TTS_PROVIDER=elevenlabs
TTS_API_KEY=
DEFAULT_THAI_VOICE_MALE=th-male-1
DEFAULT_THAI_VOICE_FEMALE=th-female-1
WHISPER_MODEL=small
ELEVENLABS_API_KEY=
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_VOICE_ID_MALE=pNInz6obpgDQGcFmaJgB
ELEVENLABS_VOICE_ID_FEMALE=21m00Tcm4TlvDq8ikWAM
